.sign__help {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 319px) {
  .sign__help {
    font-size: 8px;
    line-height: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .sign__help {
    font-size: 12px;
    line-height: 15px;
  }
}
