.sign {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 319px) {
  .sign {
    max-width: calc(100% - 20px);
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .sign {
    max-width: 260px;
  }
}
