.root {
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  height: 100%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  background: #fafafa;

  --header-background: #fff;
  --card-background: #fff;
  --techs-background: #f5f5f5;
  --promo-tab-background: #e8e8e8;
  --promo-cover-background: #f5f5f5;
  --promo-signin-button-bg: #3456f3;
  --promo-signup-button: #000;
  --promo-signin-button: #fff;
  --promo-title: #000;
  --promo-rogressbar-left-bg: #3456f3;
  --card-list-background: #f5f5f5;
}
