.container {
  width: 100%;
  max-width: 396px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .container {
    max-width: 260px;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .container {
    padding-top: 232px;
  }
}
