.inbox__label {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}
