.inbox__input {
  background-color: #f4f4f4;
  border: #f4f4f4 1px solid;
  border-radius: 8px;
  width: 100%;
  height: 46px;
  margin: 10px 0 0;
  padding: 0 15px;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .inbox__input {
    /* max-width: 366px; */
  }
}
