.techs__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 100px auto;
  list-style: none;
  gap: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .techs__list {
    margin-top: 50px;
    margin-bottom: 70px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .techs__list {
    grid-template-columns: 1fr 1fr;
  }
}
