.footer__info {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  color: #000000;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  opacity: 1;
  transition: opacity 0.5s ease;
  align-items: center;
}

@media screen and (max-width: 319px) {
  .footer__info {
    flex-direction: column;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer__info {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

