.navigation__signup {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
  text-align: right;
  text-decoration: none;
  color: var(--promo-signup-button);
}

@media screen and (min-width: 100px) and (max-width: 479px) {
  .navigation__signup {
    margin: 0 0 28px;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: right;
    color: #000;
    opacity: 1;
    transition: opacity 0.5s ease;
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navigation__signup {
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: right;
    color: #000;
    opacity: 1;
    transition: opacity 0.5s ease;
    display: flex;
    margin: 0 0 28px;
  }
}
